#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    combos {
        compatible = "zmk,combos";

        delete {
            bindings = <&kp DELETE>;
            key-positions = <35 36>;
        };

        comb_php_array_arrow {
            bindings = <&php_array_arrow>;
            key-positions = <55 24 46>;
        };
    };

    macros {
        php_arrow: php_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GREATER_THAN>;
            label = "PHP_ARROW";
        };

        php_array_arrow: php_array_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp GT>;
            label = "PHP_ARRAY_ARROW";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5      &kp NUMBER_6  &kp N7     &kp N8           &kp N9      &kp N0         &kp MINUS
&kp TAB         &kp Q         &kp W         &kp E         &kp R         &kp T       &kp Y         &kp U      &kp I            &kp O       &kp P          &kp EQUAL
&kp LEFT_SHIFT  &kp A         &kp S         &kp D         &kp F         &kp G       &kp H         &kp J      &kp K            &kp L       &kp SEMICOLON  &kp SQT
&kp LCTRL       &kp Z         &kp X         &kp C         &kp V         &kp B       &kp N         &kp M      &kp COMMA        &kp PERIOD  &kp SLASH      &kp BACKSLASH
                                            &kp LCTRL     &kp SPACE     &none       &none         &kp SPACE  &kp RCTRL
                                            &kp LEFT_ALT  &mo 1         &none       &kp LEFT_ALT  &mo 1      &kp RIGHT_SHIFT
                                            &kp LEFT_WIN  &mo 2         &kp DELETE  &kp DELETE    &none      &kp RIGHT_WIN
            >;
        };

        special_character {
            bindings = <
&trans  &trans        &trans        &trans        &trans           &trans        &trans        &trans        &trans        &trans            &trans             &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4     &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9      &kp NUMBER_0       &kp GRAVE
&trans  &trans        &trans        &trans        &trans           &trans        &trans        &trans        &trans        &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSPACE
&trans  &trans        &trans        &trans        &trans           &trans        &trans        &trans        &trans        &php_arrow        &php_array_arrow   &kp ENTER
                                    &kp C_MUTE    &kp C_VOLUME_UP  &trans        &mkp LCLK     &mkp MCLK     &mkp RCLK
                                    &kp C_PREV    &kp C_PAUSE      &kp C_NEXT    &trans        &trans        &trans
                                    &trans        &kp C_VOL_DN     &trans        &trans        &trans        &trans
            >;
        };

        navigation {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans         &trans        &trans     &trans            &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans     &kp PAGE_UP    &kp UP_ARROW  &trans     &trans            &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans     &kp LEFT       &kp DOWN      &kp RIGHT  &php_array_arrow  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans     &kp PAGE_DOWN  &kp HOME      &kp END    &php_arrow        &trans
                        &trans  &trans  &trans  &mkp LCLK  &mkp MCLK      &mkp RCLK
                        &trans  &trans  &trans  &trans     &trans         &trans
                        &trans  &trans  &trans  &trans     &trans         &trans
            >;
        };
    };
};
