#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp GRAVE       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp N7        &kp N8        &kp N9      &kp N0     &kp ASTERISK
&kp TAB         &kp Q         &kp W         &kp E         &kp R         &kp T         &kp Y         &kp U         &kp I         &kp O       &kp P      &kp BACKSPACE
&kp LEFT_SHIFT  &kp Z         &kp X         &kp C         &kp V         &kp B         &kp N         &kp M         &kp COMMA     &kp PERIOD  &kp SLASH  &kp ENTER
&kp ESCAPE      &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6        &kp F7        &kp F8        &kp F9      &kp F10    &kp DELETE
                                            &kp ASTERISK  &kp ASTERISK  &kp ASTERISK  &kp ASTERISK  &kp ASTERISK  &kp ASTERISK
                                            &kp LEFT_ALT  &kp SPACE     &kp LCTRL     &kp ASTERISK  &kp ASTERISK  &kp ASTERISK
                                            &kp ASTERISK  &kp ASTERISK  &kp ASTERISK  &kp ASTERISK  &kp ASTERISK  &kp ASTERISK
            >;
        };
    };
};
